//---------------------------------------------------------------------------
//
// Name:        ffApp.rc
// Author:      SotnikovA
// Created:     20.05.2018 18:56:54
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
